<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssac.mappers.ImageMapper">
	<insert id="insertImageIntoNewsFeed" parameterType="com.ssac.image.dto.Image">
		insert into image (filename, image)
		values (#{filename}, #{image})
	</insert>
	
	<select id="selectImage" parameterType="String" resultType="com.ssac.image.dto.Image">
		select * 
		from image
		where filename = #{filename}
	</select>
	
	<delete id="deleteImage" parameterType="String">
		delete from image
		where filename = #{filename}
	</delete>
</mapper>