<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssac.mappers.NewsFeedMapper">
	<select id="selectNewsFeedByUserId" parameterType="String" resultType="com.ssac.newsfeed.dto.NewsFeed">
		select *
		from newsfeed
		where id = #{userid}
	</select>
	
	<select id="selectNewsFeed" parameterType="String" resultType="com.ssac.newsfeed.dto.NewsFeed">
		select * 
		from newsfeed 
		where id in (select follow_id from follow where id = #{userid}) or id = #{userid} 
		order by regtime desc 
		limit 10;
	</select>
	
	<select id="selectNewsFeedByNo" parameterType="int" resultType="com.ssac.newsfeed.dto.NewsFeed">
		select *
		from newsfeed
		where no = #{no}
	</select>
	
	<insert id="insertNewsFeed" parameterType="com.ssac.newsfeed.dto.NewsFeed">
		insert into newsfeed (id, content, imagename)
		values (#{id}, #{content}, #{imagename})
	</insert>
	
	<update id="updateNewsFeed" parameterType="com.ssac.newsfeed.dto.NewsFeed">
		update newsfeed
		set content = #{content}, imagename = #{imagename}
		where no = #{no}
	</update>
	
	<delete id="deleteNewsFeed" parameterType="int">
		delete from newsfeed
		where no = #{no}
	</delete>
	
	<select id="selectLikeId" parameterType="int" resultType="com.ssac.newsfeed.dto.NewsFeedLike">
		select *
		from newsfeed_like
		where feed_no = #{no}
	</select>
	
	<select id="selectCommentCount" parameterType="int" resultType="int">
		select count(*)
		from newsfeed_comment
		where feed_no = #{no}
	</select>
	
	<insert id="insertLike" parameterType="com.ssac.newsfeed.dto.NewsFeedLike">
		insert into newsfeed_like (feed_no, like_id)
		values (#{feed_no}, #{like_id})
	</insert>
	
	<delete id="deleteLike" parameterType="com.ssac.newsfeed.dto.NewsFeedLike">
		delete from newsfeed_like
		where feed_no = #{feed_no} and like_id = #{like_id}
	</delete>
	
	<select id="selectComment" parameterType="int" resultType="com.ssac.newsfeed.dto.NewsFeedComment">
		select *
		from newsfeed_comment
		where feed_no = #{feed_no}
	</select>
	
	<insert id="insertComment" parameterType="com.ssac.newsfeed.dto.NewsFeedComment">
		insert into newsfeed_comment (feed_no, writer, comment)
		values (#{feed_no}, #{writer}, #{comment})
	</insert>
	
	<update id="updateComment" parameterType="com.ssac.newsfeed.dto.NewsFeedComment">
		update newsfeed_comment
		set comment = #{comment}
		where no = #{no}
	</update>
	
	<delete id="deleteComment" parameterType="int">
		delete from newsfeed_comment
		where no = #{no}
	</delete>
</mapper>