<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssac.mappers.NoticeMapper">
	<select id="selectNotice" parameterType="String" resultType="com.ssac.notice.dto.Notice">
		select *
		from notice
		where id = #{userid}
		order by regtime desc
		limit 10
	</select>
	
	<insert id="insertNotice" parameterType="com.ssac.notice.dto.Notice">
		insert into notice (id, content)
		values (#{id}, #{content})
	</insert>
</mapper>