<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssac.mappers.TeamMapper">
	<select id="selectTeam" resultType="com.ssac.team.dto.Team">
		select *
		from team
	</select>
	
	<select id="selectTeamByNo" parameterType="int" resultType="com.ssac.team.dto.Team">
		select *
		from team
		where no = #{no}
	</select>
	
	<select id="selectMyTeam" parameterType="String" resultType="com.ssac.team.dto.MyTeam">
		select *
		from myteam
		where id = #{userid}	
	</select>
	
	<insert id="insertMyTeam" parameterType="com.ssac.team.dto.MyTeam">
		insert into myteam(id, team_no, name)
		values (#{id}, #{team_no}, #{name})
	</insert>
	
	<update id="updateMyTeamName" parameterType="com.ssac.team.dto.MyTeam">
		update myteam
		set name = #{name}
		where id = #{id} and no = #{no}
	</update>
	
	<delete id="deleteMyTeam" parameterType="com.ssac.team.dto.MyTeam">
		delete from myteam
		where id = #{id} and no = #{no}
	</delete>
	
	<update id="updateTeamCount" parameterType="HashMap">
		update team
		set count = count + #{count}
		where no = #{team_no}
	</update>
	
	<select id="selectNewTeam" parameterType="String" resultType="com.ssac.team.dto.Team">
		select *
		from team
		where no not in
		(select team_no from myteam where id = #{userid})
	</select>
	
	<select id="selectSearchTeam" parameterType="HashMap" resultType="com.ssac.team.dto.Team">
		select *
		from team
		where no not in (select team_no from myteam where id = #{userid}) 
		and	name like concat('%', #{search}, '%') 
		order by count desc
		limit 5
	</select>
	
	<select id="selectFriendTeams" parameterType="String" resultType="HashMap">
		select id, team_no, count(*) as count
		from (select * from myteam where id in 
		(select follow_id from follow where id = #{userid})) t
		group by team_no
		order by count(*) desc
		limit 5;
	</select>
</mapper>